<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark py-3">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Flight Data</a>
                <div class="d-flex align-items-center">
                    <div class="navbar-nav">
                        <a class="nav-link me-3" href="/flight">Flight</a>
                        <a class="nav-link me-3" href="/route">Route</a>
                        <a class="nav-link me-3" href="/airport">Airport</a>
                        <a class="nav-link me-3" href="/airline">Airline</a>
                    </div>
                    <div class="">
                        <a href="/add-flight" type="button" class="submit-button btn px-4">Add New</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>